#container-1 {
  height: 100%;
  width: 100%;
  letter-spacing: -0.28em;
  display: inline;
}

#toolbar, #main {
  letter-spacing: normal;
}

#toolbar {
  width: 14%;
  min-height: 100%;
  background-color: transparent;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  position: fixed;
  background: linear-gradient(145deg, #484962 30%, #d06b41 100%);
}

#main {
  width: 86%;
  min-height: 100%;
  background-color: whitesmoke;
  display: inline-block;
  margin-left: 14%;
}

h2 {
  color: rgba(255,255,255, 0.7);
  font-size: 14px;
}

h1 {
  color: rgba(255,255,255, 0.9);
  font-size: 19px;
}

#items {
  list-style: none;
  margin: 0;
  padding: 0;
}

#items li {
  height: 70px;
  padding-left: 12px;
}

#items li h2 {
  padding-top: 30px;
}

#log-out h2 {
  padding-top: 7px !important;
}

#items li:hover {
  background-color: rgba(38, 41, 60, 0.6);
  cursor: pointer;
}

#operations {
}

#transactions {
  margin-top: -20px;
}

#log-out {
  height: 30px !important;
  margin-top: -20px;
}

#label {
  text-align: center;
  cursor: default;
}

#items i {
  color: rgba(255, 255, 255, 0.3);
}

.glyphicon {
  margin-right: 7px;
}

#current-bill {
  margin-left: 10px;
  margin-top: 40px;
  font-size: 15px;
}





