<div id="container-1">
  <div id="toolbar">

    <div id="label">
      <h1>Cash Service</h1>
    </div>

    <ul id="items">
      <li id="operations" (click)="loadNewOperationPage()">
        <h2><i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>My operations</h2>
      </li>
      <!--<li id="transactions" (click)="loadTransaactionPage()"><h2><i class="glyphicon glyphicon-send" aria-hidden="true"></i>Transactions</h2></li>-->
      <li id="log-out" (click)="logout()"><h2><i class="glyphicon glyphicon-log-out" aria-hidden="true"></i>Log out</h2></li>
    </ul>
    <h2 id="current-bill">Current bill: {{currentBill}}$</h2>
  </div>
  <div id="main">
    <app-operations id="page-1"></app-operations>
    <app-new-operation style="display: none" id="page-2"></app-new-operation>
  </div>
</div>



