/*
TODO: 1. Поработать над позицонированием элементов. 2. Поработать над ссылкой
TODO: 3. Подобрать получше цвета. 4. Поработать над видом иконки
*/


#container {
  letter-spacing: -0.28em;
  height: 450px;
  position: absolute;
  left: 50%;
  margin-left: -392.5px;
  text-align: center;
  top: 50%;
  margin-top: -225px;

}

#info, #login-panel {
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
  height: inherit;
  box-shadow: 0 2px 3px rgba(0,0,0,.2);
}

a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}


#info {
  background-color: rgba(255, 255, 255, 0.2);
  width: 465px;
  border-radius: 5px 0 0 5px;
  color: white;
}

#login-panel {
  background-color: white;
  border-radius: 0 5px 5px 0;
  width: 320px;
}

#project-name {
  font-size: 36px;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 50px;

}

#info-1 {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 150px;
}

#logotype {
  font-size: 96px;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 25px;
}

#form {
  padding-left: 10%;
  padding-right: 10%;
}

#sign-in-label {
  margin-top: 50px;
  text-align: left;
}

#form input[type='text'] {
}

#form input {
  outline: 0;
  background: #dde3e3;
  width: 100%;
  height: 37px;
  border-radius: 4px;
  padding: 4px 9px;
  border: 1px solid rgba(0,0,0,0.2);
  margin-top: 50px;
}

#form input[type='password'] {
  margin-top: 15px;
}

#form button {
  background: #52536C;
  margin-top: 15px;
  width: 40%;
  height: 37px;
  border-radius: 4px;
  color: white;
  font-weight: 400;
  margin-left: 60%;
  font-size: 16px;
}

#form button:hover, #form button:active, #form button:focus {
  background: #484962;
}

.alert-danger {
  margin-top: 15px;
}







