<div id="container">
  <div id="info">
      <i id="logotype" class="glyphicon glyphicon-cloud" aria-hidden="true"></i>
    <h1 id="project-name">Cash Service</h1>
    <h2 id="info-1">The project for the protection of information.<br>
      The subject: Homomorphic encryption in cloud services.</h2>
    <a id="info-2" href="https://gitlab.com/KrasnikovRoman/HomoEncryption">Project's repository</a>
  </div>
  <div id="login-panel">
    <div id="form">

      <form id="login-form">
        <h2 id="sign-in-label">Sign in</h2>
        <input type="text" [(ngModel)]="user.login" placeholder="login" name="login">
        <input type="password" [(ngModel)]="user.password" placeholder="password" name="password">
        <button class="btn" (click)="login()">Sign in</button>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
      </form>

    </div>
  </div>
</div>

<!--TODO: Add form validation-->
