<div id="header">
    <button (click)="loadNewOperationPage()" id="new" class="btn btn-primary">New operation</button>
</div>
<div style="overflow-y: auto">
  <ul class="my-operations" >
    <li *ngFor="let transaction of transactions">
      <div class="date">
        <p id="full-date">{{transaction.date.getDate()}}.{{transaction.date.getMonth() + 1}}.{{transaction.date.getFullYear()}}</p>
        <p id="time">{{transaction.date.getHours()}}:{{transaction.date.getMinutes()}}</p>
      </div>
      <div class="operation-info">
        <p>From: {{transaction.sender}}</p>
        <p>To: {{transaction.receiver}}</p>
        <p>Amount: {{transaction.amount}}$</p>
      </div>
    </li>
  </ul>
</div>

