#header {
  height: 60px;
  background-color: #e9e9e9;
  border-bottom: 1px solid #bebebe;
  padding-left: 10px;
  position: fixed;
  width: 86%;
  display: block;
  padding-top: 12px;
  padding-left: 15px;
}

#header p {
  padding-top: 20px;
  font-size: 15px;
}

.my-operations {
  list-style: none;
  margin: 0;
  padding: 0;
  letter-spacing: -0.28em;
  margin-top: 60px;
}



.my-operations li:nth-child(even) {
  background-color: #e9e9e9;
}

.my-operations li {
  height: 100px;
  border-bottom: 1px solid #bebebe;
}

.date {
  display: inline-block;
  height: inherit;
  letter-spacing: normal;
  border-right: 1px solid #bebebe;
  width: 70px;
  text-align: center;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.date p {
  font-size: 14px;
  height: 25px;
}

#full-date {
  background-color: gray;
  border-radius: 16px;
  color: #e9e9e9;
  padding-top: 5px;
  font-size: 10px;
}

#time {

}

.operation-info {
  display: inline-block;
  height: inherit;
  letter-spacing: normal;
  vertical-align: top;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 15px;
}

#new {
  background: #595a7a;
}

#new:hover {
  background: #484962;
}




