<div id="container-2">
  <h2>RECEIVER</h2>
  <input id="receiver-name" type="text" name="receiver-name" placeholder="Firstname LastName">
  <h2>BILL INFO</h2>
  <input id="number-card" type="text" name="number-card" placeholder="Number card">
  <input id="amount" type="text" name="amount" placeholder="$">
  <h2>ADDITIONAL INFO</h2>
  <input id="info" type="text" name="additional info" placeholder="Additional info"><br>
  <button (click)="cancel()" id="cancel" class="btn btn-default">Cancel</button>
  <button id="send" class="btn btn-primary">Send</button>
</div>
