body {
  background-color: #e9e9e9;
}


#container-2 {
  width: 600px;
  height: auto;
  padding: 0px 10px 10px;
  margin: 15px;
}

h2 {
  font-size: 14px;
  border-bottom: 2px solid #c5c5c5;

}

input {
  outline: 0;
  background: white;
  width: 60%;
  height: 37px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.2);
  margin-top: 10px;
}

#receiver-name {
  width: 50%;
}

#amount {
  width: 35%;
  margin-left: 25px;

}

#info {
  width: 100%;
}

#cancel, #send {
  margin-top: 10px;
  width: 25%;

}

#send {
  background: #595a7a;
  margin-left: 10px;
}

#send:hover {
  background: #484962;
}
